

.Header_container{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 10px 14px 1px rgba(122,116,122,1);


   
}
.nav-link{
    text-decoration: none;
}
.header_ul{
  /* border: 3px solid green; */
  display: flex;
  justify-self: space-around;
  align-items: center;
  list-style: none;
  gap: 20px; 
  font-size: 18px;
  
  font-weight: 500;
}

.login, .signup{
    padding:  5px 10px;
    background: #555252;
    color: aliceblue;
    border-radius: 5px;
    text-decoration: none;
    margin:  0px 5px;
    
}

