.contactus {
    /* height: 350px; */
    padding: 20px 20px;
  position:relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    text-align: center;
  }
  
  .othersites {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .contactus h1 {
    font-size: 35px;
    font-family: "Raleway";
    color: #212020;
  }
  
  .container_contact {
    display: flex;
    justify-content: center;
    align-items: bottom;
  
    height: 85vh;
  }
  .instruction p{
    padding: 0px 10px;
  }
  .paradata{
    padding: 0px 15px;
  }